<div>
  <h1>Hello {{ _name }}</h1>
  <p *ngIf="_name === 'Anicet'">grand et beau</p>
  <app-button preset="default" (onClick)="handleClick($event)"></app-button>
  <p class="" [ngClass]="_myclass">My-class</p>
  <span matBadge="4" matBadgeOverlap="false">Text with a badge</span>

  <form class="example-form" (submit)="submit()">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput [formControl]="_firstName" />
    </mat-form-field>
    <br />
    <button type="submit">Submit</button>
  </form>
  <app-todos></app-todos>
</div>
